---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcome!";
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<div class="hero min-h-[82vh]">
		  <div class="hero-content flex-col lg:flex-row rounded-2xl shadow-2xl">
			<img src={"/portfolio-profile.jpg"} alt="Profile Picture" class="max-w-sm rounded-lg shadow-2xl" width={175} height={175}/>
			<div>
			  <h1 class="text-5xl font-bold text-slate-100">Hey There!</h1>
			  <p class="py-6">
				My name is Carson Cassidy. I&apos;m a Senior at Northwest High School, and my life goal is to effectively use StackOverflow for my projects.
				<br><br/>Right now, I&apos;m working on a couple projects, such as learning React/Astro through the creation of this website, and several uses of 
				<br><br/>StudentVUE&apos;s API. When I&apos;m not coding, I&apos;m probably either playing guitar, working out, or writing music (demos coming soon). 
				<br><br/>Take a look around, and I hope you enjoy the website and projects as much as I do!
			  </p>
			  <a href="/projects">
				<button class="btn btn-primary">Get Started</button>
			  </a>
			</div>
		  </div>
		</div>
	</div>
</BaseLayout>
