---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcome!";
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<div class="hero min-h-[82vh]">
		  <div class="hero-content flex-col lg:flex-row rounded-2xl shadow-2xl">
			<img src={"/portfolio-profile.jpg"} alt="Profile Picture" class="max-w-sm rounded-lg shadow-2xl" width={175} height={175}/>
			<div>
			  <h1 class="text-5xl font-bold text-slate-100">Hey There!</h1>
			  <p class="py-6">
				My name is Carson Cassidy. I'm a junior at Northwest High School, and I've been involved in programming for the past 2 years.
				<br><br/>Right now, I'm working on a couple projects such as: Discord Bots, Websites, and even ports of games for a TI calculator.
				<br><br/>When I'm not coding, I'm probably either working out, playing guitar, or writing music (demos coming soon). 
				<br><br/>Take a look around, and I hope you enjoy the website and projects as much as I do!
			  </p>
			  <a href="/projects">
				<button class="btn btn-primary">Get Started</button>
			  </a>
			</div>
		  </div>
		</div>
	</div>
</BaseLayout>
