---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcome!";
---
<BaseLayout pageTitle={pageTitle}>
	<div>
		<div class="hero min-h-[82vh]">
		  <div class="hero-content flex-col lg:flex-row rounded-2xl shadow-2xl">
			<img src={"/portfolio-profile.jpg"} alt="Profile Picture" class="max-w-sm rounded-lg shadow-2xl" width={175} height={175}/>
			<div>
			  <h1 class="text-5xl font-bold text-slate-100">Hey There!</h1>
			  <p class="py-6">
				My name is Carson Cassidy. I&apos;m a Freshman at Wake Forest University, and I&apos;m planning to major in Computer Engineering.
				<br><br/>Right now, I&apos;m working on a couple projects, such as developing an emulator for the Chip-8 Virtual Machine, and developing games/applications
				<br><br/>for the TI 84 Plus CE. When I&apos;m not coding, I&apos;m probably either playing guitar, working out, or writing music. 
				<br><br/>Take a look around, and I hope you enjoy the website and projects as much as I do!
			  </p>
			  <a href="/projects">
				<button class="btn btn-primary">Get Started</button>
			  </a>
			</div>
		  </div>
		</div>
	</div>
</BaseLayout>
