---
import BaseLayout from '../layouts/BaseLayout.astro';
import RepoCard from '../components/repoCard.jsx';
import getRepos from '../lib/repositories';
import * as dotenv from 'dotenv'; // see https://github.com/motdotla/dotenv#how-do-i-use-dotenv-with-import
dotenv.config();

const pageTitle = "Projects";
const repos = await getRepos(process.env.GITHUB_OAUTH_TOKEN);
---

<BaseLayout pageTitle={pageTitle}>
    <div class="container mt-4 mx-auto">
        <h1 class="text-5xl font-bold text-center text-slate-100">My Projects</h1>
    </div>
    <div class="flex flex-wrap mx-0.5">
        {repos.map((repo) => (
            <div class="w-full md:w-1/2 lg:w-1/3 px-28 py-6">
                <RepoCard client:load repo={repo}/>
            </div>
        ))}
    </div>
</BaseLayout>